<% content_for :custom_fonts do %>
	<% if @blog_user.styles == "notebook" %>
		<link href='http://fonts.googleapis.com/css?family=Roboto:300,700|Pacifico' rel='stylesheet' type='text/css'>
	<% elsif @blog_user.styles == "pulp" %>
		<link href='http://fonts.googleapis.com/css?family=Sigmar+One|Libre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>
	<% end %>
<% end %>
<% content_for :custom_css do %>
	<% if @blog_user.styles == "notebook" %>
  	<link rel="stylesheet" media="all" href="/assets/notebook/main.css">
	<% elsif @blog_user.styles == "pulp" %>
  	<link rel="stylesheet" media="all" href="/assets/pulp/main.css">
	<% end %>
<% end %>


<% if @blogitems %>
	<% @blogitems.each do |blogitem| %>
		<%= render partial: blogitem.item %>
	<% end %>
<% else %>
	<p>This user has no posts yet!</p>	
<% end %>