<h2>Photos from Flickr</h2>
<% unless @photos.blank? %>
	<table>
	<% @photos.each do |photo| %>
		<tr>
			<th><%= link_to photo.title.blank? ? "(No title)" : photo.title , user_flickr_item_path(params[:user_id], photo), class: "content-link" %></th>
			<td><%= link_to 'Edit', edit_user_flickr_item_path(current_user, photo), class: "action-link" %></td>
			<td><%= link_to 'Delete', user_flickr_item_path(current_user, photo), method: :delete, data: { confirm: "Are you sure?" }, class: "action-link" %></td>
		</tr>
	<% end %>
		
	</table>
<% else %>
	<p>No photos yet!</p>
<% end %>
	