$secondary_color: #368D94;
$main_color: #E2B426;
$subtle_color: coral;
$serif: 'Libre Baskerville', Times, Baskerville, Georgia, serif;
$sans: 'Sigmar One', Arial, "Helvetica Neue", Helvetica, sans-serif;