<h2><%= link_to medium_item.title, user_medium_item_path(params[:handle], medium_item) %></h2>

<p class="meta">Posted <%= time_ago_in_words(medium_item.created_at) %> ago</p>

<article>
<%= simple_format(truncate(medium_item.body, length: 350, separator: ' ')) %>
</article>

<% if current_user && current_user.id == medium_item.blog_item.user_id %>
<p><%= link_to 'Edit', edit_user_medium_item_path(current_user, medium_item) %></p>
<% end %>
