/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_reset.scss */
body {
  line-height: 1;
}

/* line 34, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
body {
  font-family: "Lora", Times, Baskerville, Georgia, serif;
  font-size: 100%;
}

/* line 6, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
img {
  max-width: 100%;
}

/* line 10, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
a {
  text-decoration: none;
}
/* line 12, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
a:hover {
  text-decoration: underline;
}

/* line 17, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
li {
  list-style: square inside;
}

/* line 21, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
code {
  font-family: monospace;
}

/* line 25, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
main {
  max-width: 40em;
  margin: 0 auto;
}

/* line 30, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
p, a, li {
  padding: .5em 0;
  line-height: 1.6;
}

/* line 35, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  padding: 1em 0 .5em;
}
/* line 39, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}

/* line 44, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
h1 {
  font-size: 2em;
  color: #B70F23;
}

/* line 49, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
h2 {
  font-size: 1.5em;
  color: #B70F23;
}

/* line 54, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
h3 {
  font-size: 1.2em;
}

/* line 58, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
strong {
  font-weight: bold;
}

/* line 62, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
em {
  font-style: italic;
}

/* line 66, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
blockquote {
  border-left: 0.5em solid #CDCDCD;
  padding-left: 1em;
}
/* line 69, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
blockquote p {
  font-style: italic;
}

/* line 75, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
article p {
  font-size: 1.1em;
}
/* line 78, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
article h1, article h2, article h3, article h4, article h5, article h6 {
  font-family: "Lora", Times, Baskerville, Georgia, serif;
  color: black;
}
/* line 81, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
article h1 a, article h2 a, article h3 a, article h4 a, article h5 a, article h6 a {
  color: black;
}

/* line 87, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
.container {
  padding: 1em;
}

/* line 91, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
.logo {
  max-width: 3em;
}

/* line 95, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
header {
  border-top: 0.2em solid #B70F23;
}
/* line 97, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
header a, header a:visited {
  color: #8A8A8A;
}
/* line 100, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
header nav li {
  display: inline-block;
}

/* line 105, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
.user-nav li {
  float: right;
  font-family: "Ubuntu", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* line 108, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
.user-nav li a {
  text-decoration: none;
  margin-left: 1.5em;
}

/* line 114, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
.message {
  padding-left: 1em;
}

/* line 118, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
.notice {
  background-color: rgba(0, 128, 0, 0.18);
}

/* line 122, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
.alert {
  background-color: rgba(128, 0, 27, 0.18);
}

/* line 126, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
.meta {
  color: #CDCDCD;
  font-style: italic;
}

/* line 131, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_shared.scss */
pre {
  border: 1px solid #CDCDCD;
  border-radius: .5em;
  padding: .5em;
}

/* line 1, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_forms.scss */
input, textarea {
  padding: .5em;
  margin: 1em 0;
  font-size: 100%;
  border: 1px solid #CDCDCD;
}

/* line 8, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_forms.scss */
input[type=text], textarea {
  width: 100%;
  font-family: "Lora", Times, Baskerville, Georgia, serif;
}

/* line 13, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_forms.scss */
textarea {
  height: 25em;
}

/* line 17, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_forms.scss */
.button {
  border: none;
  background-color: #8A8A8A;
  color: #FFF;
  cursor: pointer;
  font-family: "Ubuntu", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 25, /Users/Xavier/Desktop/HAPPY BLOGGING/happyblogging/app/assets/stylesheets/_forms.scss */
.button-primary {
  background-color: #B70F23;
}
