$background_color: black;
$main_color: green;
$secondary_color: yellow;
$subtle_color: pink;
$serif: 'Pacifico', Times, Baskerville, Georgia, serif;
$sans: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;