<p>Welcome! This is <strong>Happy blogging</strong>, a blog service build with Ruby.</p>

<blockquote>
	<p>I hope to see Ruby help every programmer in the world to be productive, and to enjoy programming, and to be happy. That is the primary purpose of Ruby language.</p>
	<footer>
		<cite><a href="https://www.youtube.com/watch?v=oEkJvvGEtB4">Yukihiro Matsumoto</a></cite>
	</footer>
</blockquote>