<h1>Happy blogging</h1>

<p>Welcome! This is <strong>Happy blogging</strong>, a blog service build with and inspired by Ruby.</p>

<p><strong><%= link_to 'Sign up', new_user_registration_path %></strong> and start writing your posts (Markdown support? Checked!).</p>
<p>Would you like to import your posts from Medium? What about your photos from Flickr? We got you covered!</p>

<blockquote>
	<p>I hope to see Ruby help every programmer in the world to be productive, and to enjoy programming, and to be happy. That is the primary purpose of Ruby language.</p>
	<footer>
		<cite><a href="https://www.youtube.com/watch?v=oEkJvvGEtB4" target="_blank">Yukihiro Matsumoto</a></cite>
	</footer>
</blockquote>