<h2><%= link_to post_item.title, user_post_item_path(params[:handle], post_item) %></h2>

<p class="meta">posted <%= time_ago_in_words(post_item.created_at) %> ago</p>

<article>

<%= simple_format(truncate(post_item.body, length: 350, separator: ' ')) %>
</article>

<% if current_user && current_user.id == post_item.blog_item.user_id %>
<p><%= link_to 'Edit', edit_user_post_item_path(current_user, post_item) %></p>
<% end %>
