<h2>Posts</h2>
<% unless @posts.blank? %>
	<table>
	<% @posts.each do |post| %>
		<tr>
			<th><%= link_to post.title, user_post_item_path(params[:user_id], post), class: "content-link" %></th>
			<td><%= link_to 'Edit', edit_user_post_item_path(current_user, post), class: "action-link" %></td>
			<td><%= link_to 'Delete', user_post_item_path(current_user, post), method: :delete, data: { confirm: "Are you sure?" }, class: "action-link" %></td>
		</tr>
	<% end %>
		
	</table>
<% else %>
	<p>No posts yet, <%= link_to 'create one!', new_user_post_item_path(current_user.handle), class: "action-link" %></p>
<% end %>
