body {
	font-family: $sans;
	background-image: 
	linear-gradient(90deg, transparent 79px, transparent 81px),
	linear-gradient(#F7F7F7 .1em, transparent .1em);
	background-size: 100% 1.2em;
}

main {
	border-left: .2em solid $secondary_color;
}

h1, h2, h3 {
	font-family: $serif;
	color: $main_color;
}

article {
	h1, h2, h3, h4, h5, h6 {
	font-family: $sans;
	color: black;
		a {
			color: black;
		}
	}
}

blockquote {
	border-left: none;
} 

header {
	border-top: .2em solid $main_color;
  background-color: #FFF;
  border-bottom: .2em solid $secondary_color;
	a, a:visited {
		color: $main_color;
	}
}

pre {
	border: 1px solid $subtle-color;
}

.user-nav li {
	font-family: $sans;
}

.meta {
	color: $subtle_color;
}

.button-link {
	background-color: $secondary_color;
}

.button-link-primary {
	background-color: $main_color;
}

a.action-link {
	color: $link_color;
	font-family: $sans;
}
