input, textarea {
	padding: .5em;
  margin: 1em 0;
	font-size: 100%;
	border: 1px solid $subtle_color;
}

input[type=text], input[type=email], textarea {
	width: 100%;
	font-family: $serif;
}

textarea {
	height: 25em;
}

label {
	font-style: italic;
}

.button {
	border: none;
	background-color: $secondary_color;
  color: #FFF;
  cursor: pointer;
  font-family: $sans;
}

.button-primary {
  background-color: $main_color;
}

// js
#edit-user-form {
	display: none;
}