input, textarea {
	padding: .5em;
  margin: 1em 0;
	font-size: 100%;
	border: 1px solid $subtle_color;
}

input[type=text], textarea {
	width: 100%;
	font-family: $serif;
}

textarea {
	height: 25em;
}

.button {
	border: none;
	background-color: $secondary_color;
  color: #FFF;
  cursor: pointer;
}

.button-primary {
  background-color: $main_color;
}