$ruby: #B70F23;
$gray: #8A8A8A;
$light_gray: #CDCDCD;
$serif: 'Lora' Times, Baskerville, Georgia, serif;

input, textarea {
	padding: .5em;
  margin: 1em 0;
	font-size: 100%;
	border: 1px solid $light-gray;
}

input[type=text], textarea {
	width: 100%;
	font-family: $serif;
}

textarea {
	height: 25em;
}

.button {
	border: none;
	background-color: $gray;
  color: #FFF;
  cursor: pointer;
}

.button-primary {
  background-color: $ruby;
}