body {
	font-family: $serif;
	font-size: 100%;
}

// tags
main {
  max-width: 40em;
	margin: 0 auto;
}

section {
	margin-bottom: 2em;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

li {
	list-style: square inside;
}

pre {
	border: 1px solid $subtle_color;
  border-radius: .5em;
  padding: .5em;
}

code {
	font-family: monospace;
}

p, a, li {
	padding: .5em 0;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans;
	font-weight: bold;
	padding: 1em 0 .5em;
	a {
		color: inherit;
	}
}

h1 {
	font-size: 2em;
	color: $main_color;
}

h2 {
	font-size: 1.5em;
	color: $main_color;
}

h3 {
	font-size: 1.2em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

blockquote {
	border-left: .5em solid $subtle_color;
  padding-left: 1em;
	p {
		font-style: italic;
	}
} 

article {
	p {
	font-size: 1.1em;
	}
	h1, h2, h3, h4, h5, h6 {
	font-family: $serif;
	color: black;
		a {
			color: black;
		}
	}
}

table {
	border: 1px solid $subtle_color;
}

th {
	font-weight: bold;
}

td, th {
	padding: .5em 1em;
	border-bottom: 1px solid $subtle_color;
	border-right: 1px solid $subtle_color;
}

// general
.container {
	padding: 1em;
}

.align-top {
	vertical-align: top;
}

a.action-link {
	color: $link_color;
	font-family: $sans;
}

a.action-link-primary {
	color: $main-color;
}

a.content-link {
	color: inherit;
  border-bottom: 1px solid $subtle_color;
  text-decoration: none;
  &:hover {
  	font-weight: bold;
  }
}

.button-link {
	background-color: $secondary_color;
  color: white;
  margin: 1em 0;
  padding: .5em;
  font-family: $sans;
}

a.button-link {
	color: white;
}

.button-link-primary {
	background-color: $main_color;
}

// flexbox
.flex-container {
	display: flex;
}

// header
.logo {
	max-width: 2.5em;
}

header {
	border-top: .2em solid $main_color;
	a, a:visited {
		color: $secondary_color;
	}
	nav li {
		display: inline-block;
	}
}

header.flex-container {
	justify-content: space-between;
}

.user-nav {
	display: inline-block;
}

.user-nav li {
	font-family: $sans;
	list-style: none;
	display: inline-block;
	a {
		text-decoration: none;
		margin-left: 1.5em;
	}
}

// system messages
.message {
	padding-left: 1em;
}

.notice {
	background-color: rgba(0, 128, 0, 0.18);
}

.alert {
	background-color: rgba(128, 0, 27, 0.18);
}

// meta
.meta {
	color: $subtle_color;
	font-style: italic;
}
