body {
	font-family: $serif;
	font-size: 100%;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

li {
	list-style: square inside;
}

code {
	font-family: monospace;
}

main {
  max-width: 40em;
	margin: 0 auto;
}

p, a, li {
	padding: .5em 0;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans;
	font-weight: bold;
	padding: 1em 0 .5em;
	a {
		color: inherit;
	}
}

h1 {
	font-size: 2em;
	color: $main_color;
}

h2 {
	font-size: 1.5em;
	color: $main_color;
}

h3 {
	font-size: 1.2em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

blockquote {
	border-left: .5em solid $subtle_color;
  padding-left: 1em;
	p {
		font-style: italic;
	}
} 

article {
	p {
	font-size: 1.1em;
	}
	h1, h2, h3, h4, h5, h6 {
	font-family: $serif;
	color: black;
		a {
			color: black;
		}
	}
}

.container {
	padding: 1em;
}

.logo {
	max-width: 3em;
}

header {
	border-top: .2em solid $main_color;
	a, a:visited {
		color: $secondary_color;
	}
	nav li {
		display: inline-block;
	}
}

.user-nav li {
	float: right;
	font-family: $sans;
	a {
		text-decoration: none;
		margin-left: 1.5em;
	}
}

.message {
	padding-left: 1em;
}

.notice {
	background-color: rgba(0, 128, 0, 0.18);
}

.alert {
	background-color: rgba(128, 0, 27, 0.18);
}

.meta {
	color: $subtle_color;
	font-style: italic;
}
