$main_color: #B70F23;
$secondary_color: #8A8A8A;
$subtle_color: #CDCDCD;
$link_color: #3657F7;
$serif: 'Lora', Times, Baskerville, Georgia, serif;
$sans: 'Ubuntu', Arial, "Helvetica Neue", Helvetica, sans-serif;
